body {
  overflow-x: hidden;
  color: $secondary;
}

p {
  font-size: 17px;
  color: #000000;

}

img {
  max-width: 100%;
  max-height: 100%;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
  color: $secondary-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: Montserrat, "Lato", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: $black;
}

p.small {
  font-size: 12px;
}

hr.star-light,
hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}

hr.star-secondary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
  color: $secondary-dark;
}

.imgbig {
  max-height: 50%;

}

@media (max-width: 1200px) {
  .imgbig {
    max-width: 70%;
  }
}

.img-centered {
  margin: 0 auto;
}

.scroll-top {
  z-index: 1049;
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
}

.scroll-top {
  .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
    background-color: $black;
    border-color: $black;
  }

  .btn:active {
    background-color: $black;
    border-color: $black;
  }

  .btn:hover {
    background-color: $black-light;
    border-color: $black-light-border;
  }
}

.section-alter {
  color: $white;
  background-color: $yellow;
}

.section-main {
  color: $white;
  background-color: $grey;
}

.container-logo {
  /*position: absolute;*/
  /*margin-left: -60px;*/
  /*margin-top: 3px;*/
  float: left;
  margin: 10px;
}

section {
  padding: 100px 0;
}

section h2 {
  margin: 0;
  font-size: 3em;
}

@media #{$medium-devices} {
  section {
    padding: 75px 0;
  }

  section.first {
    padding-top: 75px;
  }
}

footer {
  color: $black;
}

footer h3 {
  margin-bottom: 30px;
}

footer .footer-above {
  padding-top: 50px;
  background-color: $secondary-dark;
}

footer .footer-col {
  margin-bottom: 50px;
}

footer .footer-below {
  padding: 25px 0;
  background-color: $secondary-dark;
}

.footer-logo {
  max-height: 70px;
  max-width: 100%;
  padding: 0 15px;
  margin: auto;
}

.footer-logo-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-logo-obeu {
  margin-top: 25px;
}

.footer-logo-ds {
  margin-top: 15px;
}

@media #{$phones} {
  .footer-logo {
    margin-top: 30px;
  }
}

.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid $black;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
  outline: 0;
}

.scroll-top .btn:focus {
  outline: 0;
}

@media #{$medium-devices} {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }

  header .intro-text .name {
    font-size: 4.75em;
  }

  header .intro-text .skills {
    font-size: 1.75em;
  }
}