.navbar {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  background-color: $black;
  color: white;

  a:focus {
    outline: 0;
  }

  .navbar-nav {
    letter-spacing: 1px;
    margin-top: 12px;

    li {
      list-style: none;

      a{
        color: $primary;
      }

      a:focus{
        outline: 0;
      }
    }
  }
}

.navbar-default,
.navbar-inverse {
  border: 0;
}

.navbar-header {
  margin-top: 10px;
}

.navbar-default {

  li {
    list-style: none;
  }

  .navbar-brand, .navbar-brand:hover {
    color: $white;
  }

  .navbar-nav {
    .active {
      a {
        color: $white;
      }
    }
  }
}

.nav-mark a {
  color: $yellow !important;
}

.navbar-nav > .active > a {
  background-color: $secondary !important;
}

@media #{$medium-devices} {
  .navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
  }

  .navbar-fixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  .navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
  }

  .navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}