<head>
    <section class="success" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The EU and its money flows are notoriously complex and partially intransparent. Over the past
                        year, the team behind <a href="http://subsidystories.eu">SubsidyStories.eu</a> has gathered,
                        cleaned, and concatenated data on the EU’s most important financial instrument: the European
                        Structural Investment Funds (ESIF). Together with representatives of different disciplines
                        (journalists, developers, domain experts, and designers) we want to immerse ourselves in
                        this data, hunting for stories.
                    </p>
                    <p>
                        That is why the Open Knowledge Foundation Germany has worked over the past year to open the data
                        on EU subsidies with subsidystories.eu. The work has shown that there is a great discrepancy between the data quality published by the EU member states, enshrouding possible misues in a cloud of inaccessiblity. You can view <a href="http://openbudgets.eu/assets/resources/Report-OpenBudgets-ESIF%20Data-Quality-Index.pdf"> a report on the data here</a>.
                    </p>
                    <p> 
                        This is only the beginning of our EU Transparency work and we invite the participants to work with this data together with us on analysing money flows and increasing EU Transparency. 
                    </p>
                                        <p>
                        Together with the teams of Datenschule and OpenBudgets.eu, we will host a data expedition. On
                        this three day workshop, the Bootcamp’s participants will work together with 25 experts from the
                        field of journalism, programming, advocacy, and design to work on data, analysis and
                        story-telling.
                    </p>
                </div>
                <div class="col-lg-4">
                    <div>
                    <p>
                    <i>The quality (and thus the level of transparency) of the data varies greatly across the EU member states:</i>    
                    </p>
                    </div>
                    <p>    
                    <img src="/img/data-ranking.png" class="responsive" width=380em/>
                    </p><p class="small">(Image taken from the <a href="http://openbudgets.eu/assets/resources/Report-OpenBudgets-ESIF%20Data-Quality-Index.pdf">ESIF data quality report</a>.) 
                    </p>
                </div>
            </div>
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="http://openbudgets.eu/assets/resources/Report-OpenBudgets-ESIF%20Data-Quality-Index.pdf"
                   class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> ESIF Data Quality Report
                </a>-->
            </div>
        </div>
    </section>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Using the skills developed in the Bootcamp, a massive database containing information on more than <b>250 bn Euro</b> spent via the EU's primary investment tool, the European Structure and Investment Funds (ESIF), will be tackled in the Data Expedition. Train in the Bootcamp, and join the Story Hunt!-->
</head>
