<head>
    <section class="success" id="challenge">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 text-center">
                    <h2>The Challenge</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> Our aim is to use the extensive EU subsidy data that we have collected to find interesting stories on how the EU spends the taxpayers money. The range of possible stories is vast, but using the data to follow the money and research what kind of projects were financed can yield astonishing results. A first insight from the Czech dataset, for instance, was that 80% of their ESIFunds was received by public institutions.
                    </p>
                    <p>
                        <a href="http://farmsubsidy.openspending.org/">Farmsubsidy</a>, a similar project, collected all the EU’s agricultural data. An <a href="http://energydesk.greenpeace.org/2016/09/29/common-agricultural-policy-millions-eu-subsidies-go-richest-landowners/">investigation led by Greenpeace</a> analysing the top 100 recipients of the agricultural fund then uncovered that “Individuals or families featured in the Sunday Times’ Rich List own or control 16 businesses among the Top 100 beneficiaries, receiving a total of £10.6m last year in “single payment scheme” subsidies alone, and £13.4m in total farm subsidies.” This was a quite revealing result produced by data driven journalism. 

                    </p>
                </div>
                <div class="col-lg-4">
                    <div>
                    <p>
                    With The Story Hunt, we want to get together and venture into the data in order to find out whether it contains similar stories.</p> 
                    <p>One of the ideas includes focussing on recipients such as universities that are frequently financed through EU research grants. Another approach might be looking into the EU’s funding priorities such as job creation and evaluating these by using the operational programmes. However, we are very open to any ideas and will develop these together on the first day of the weekend workshop.    
                    </p>
                </div>
            </div>
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="http://openbudgets.eu/assets/resources/Report-OpenBudgets-ESIF%20Data-Quality-Index.pdf"
                   class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> ESIF Data Quality Report
                </a>-->
            </div>
        </div>
    </section>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Using the skills developed in the Bootcamp, a massive database containing information on more than <b>250 bn Euro</b> spent via the EU's primary investment tool, the European Structure and Investment Funds (ESIF), will be tackled in the Data Expedition. Train in the Bootcamp, and join the Story Hunt!-->
</head>
