 <!-- About Section -->

    <section class="success" id="dataexpedition">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Data Expedition</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    A data expedition is a combination of group work, training, and mutual learning that teaches the whole investigative process from the first questions and hypotheses through data and analysis to stories, presentations and visualisations. It equips the participants with the skills that they need in the field to work on a data-driven story, and allows us to produce concrete results in one weekend.
                    </p>
                    <p>Forming mixed teams, the groups will go through the “data-pipeline” together starting by asking the question to presenting the data in the course of 3 days.</p>
                    <p>Together with the teams of Datenschule and OpenBudgets.eu, we will host a data expedition. On this three day workshops, you will work together with 25 experts from the field of journalism, programming, EU, advocacy, and design to work on data, analysis and story-telling.</p>

                </div>
                <div class="col-lg-4">
                    <p>
                    In a data expedition group members take on different roles in the process depending on their expertise:
                    </p>
                    <p>
                    <h3>Storyteller:</h3>
                    <p>Ask interesting questions, guide creation of final project</p>
                    <h3>Scout</h3>
                    <p>ask interesting questions, guide creation of final project</p>
                    <h3>Analyst:</h3>
                    <p>Ask interesting questions, guide creation of final project</p>
                    <h3>Engineer:</h3>
                    <p>Ask interesting questions, guide creation of final project</p>
                    <h3>Designer:</h3>
                    <p>Ask interesting questions, guide creation of final project</p>Analyst: crunch the data, test hypotheses
                    Engineer: build final project, handle technical tasks
                    Designer: ensure final project is transparent and effective
                    </p>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                <p><h3>Agenda:</h3>
                <h4>Friday 30 June</h4>
                    <p>15:00 - 17:00 Travel Berlin - Wartin</p>
                    <p>17:00 - 19:00 Introduction Lecture</p> 
                    <p>20:30 - 22:00 Forming Teams</p>
                <h4>Saturday 1 July</h4>
                    <p>9:00 - 12:00 Formulating a question / Finding Data and Leads</p>
                    <p>13:00 - 19:00 Cleaning and Analysing Data</p>
                <h4>Sunday 2 July</h4>
                    <p>12:00 - 13:30 Story Telling and Visualisation 
                    Group Presentation and Wrap up</p>
                    <p>13:30 - 16:00 Lunch and travel back to Berlin</p>
                    <p>19:00 - Optional Presentation Berlin</p>
                    <p>
                </div>
                <div class="col-lg-4">
                    <p>
                    <h3>Schloss Wartin</h3>
                    <h4>16306 Casekow</h4>
                    <img src="https://c1.staticflickr.com/8/7065/6957170285_e533893858_b.jpg" class="responsive" width="220px">
                    </p>
                    <p>
                    <img src="https://c1.staticflickr.com/3/2363/2349098787_2cd660c18c_b.jpg" class="responsive" width="220px">
                    </p>
                    <p>
                    <img src="https://www.schloss-wartin.de/wp-content/uploads/2014/07/Schloss-25-P3280072.jpg" class="responsive" width="220px">
                    </p>

                    
                    
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://openbudgets.eu/assets/resources/Report-OpenBudgets-ESIF%20Data-Quality-Index.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download the ESIF data quality report
                    </a>
                </div>
            </div>
        </div>
    </section>