<section class="section-alter" id="expedition">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>The Weekend-Expedition</h2>
                <hr class="star-light">
            </div>
        </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <img class="responsive" src="/img/impact1.png">
                    <br>
                    <br>
                    <p>
                    The Story Hunt Expedition is a weekend-long event that will bring together the previously trained participants with experts from the field of programming, data analysis and design. The weekend will begin with a dive into the data on Friday. Together we will attempt to find first leads and develop research questions that guide us through the following two days of intense story hunting.</p>
                    <br>
                    <img class="responsive" src="/img/impact2.png">
                    <br>
                    <br>
                    <p>The Story Hunt will be a combination of group work, training, and mutual learning that teaches the whole investigative data pipeline process from asking questions to the dataset, hypothesising, cleaning and analysing it and turning the results into stories, presentations and visualisations.
                    </p>
                    <p>It fosters teamwork and collaboration in all the necessary fields for working on a data-driven story, and allows us to attempt to produce concrete output in one weekend.</p>
                    <p><b>All costs for the weekend and travel within Europe (up to 250 E) are covered upon acceptance and participation in the expedition</b>
                    <h3><a href="http://berlin.impacthub.net/">Location: Impact Hub Berlin</a>
                <br>
                <br>
                <img class="responsive" src="/img/impact3.png"></p>
                </div>
                <div class="col-lg-4">
                <h3>Programme:</h3>
                <h4>Friday 30 June</h4>
                    <p>14:30 Arrival at Impact Hub Berlin</p>
                    <p>15:00 Welcome & Get to know each other</p>
                    <p>15:30 World-Café on Financial Data</p>
                    <p>16:15 Intro: The Data Pipeline</p>
                    <p>16:30 Coffee Break</p>
                    <p>16:40 Farmer's Market: Topics, Skills & finding a group</p>
                    <p>17:50 Brigitte Alfter: Data Journalism & Collaboration</p>
                    <p>18:00 Defining Challenges & Goals</p>
                    <p>18:30 Project Pitch</p>
                    <p>19:00 Dinner</p>
                <h4>Saturday 1 July</h4>
                    <p>09:00 Coffee</p>
                    <p>09:15 Good Morning Game</p>
                    <p>09:30 Rethinking Challenges & Hypothesis</p>
                    <p>10:00 Team work</p>
                    <p>11:30 Data Pipeline Review</p>
                    <p>12:00 Coffee Break</p>
                    <p>12:15 Team work / Break out Sessions (tbd)</p>
                    <p>13:00 Lunch</p>
                    <p>14:00 Team work</p>
                    <p>16:00 Short project presentations</p>
                    <p>17:00 Team Presentation (status quo)</p>
                    <p>18:05 Dinner</p>
                    <p>19:30 Team work (as needed)</p>
                    <p>22:00 End</p>
                <h4>Sunday 2 July</h4>
                    <p>10:00 Coffee</p>
                    <p>10:15 Good Morning Game</p>
                    <p>10:30 Visualisation Gallery</p>
                    <p>11:35 Analogue Visualisation</p>
                    <p>13:00 Lunch</p>
                    <p>14:00 Departure</p>

                
                </div>
            </div>
        </div>
    </div>
</section>