    <!-- Footer -->
    <footer class="text-center">
        <div class="footer">
            <div class="container">
                <div class="row"  align="middle">
                <div id="logobox">
                <img class="responsive" src="img/openbudgets_logo.png" width="245px" align="middle" style="margin:80px">
                <img class="responsive" src="img/Logo_okfde_black.png" width="195px" align="middle" style="margin:10px">
                <img class="responsive" src="img/datenschule_logo_web.png" width="186px" align="middle" style="margin:80px">
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>'The Story Hunt' is a project by <b>Open Knowledge Foundation Germany</b>, Singerstrasse 109, 10179 Berlin.</p> 
                        <p>Images: <a href="https://wiki.creativecommons.org/wiki/CC0">CC-0</a>. All other content: <a href="https://creativecommons.org/licenses/by/2.0/">CC-BY</a>.</p>
                        <p>Design: Bela Seeger.</p>
                        <p><b><a style="color:black" href="https://okfn.de/impressum/">Legal Notice</a></b>.</p>
                    </div>

                </div>

            </div>

        </div>

    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
