<!-- Footer -->
<footer class="text-center">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 footer-logo-box">
                    <div class="col-sm-4">
                        <img class="img-responsive footer-logo footer-logo-obeu" src="img/openbudgets_logo.png"/>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-responsive footer-logo" src="img/Logo_okfde_black.png"/>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-responsive footer-logo footer-logo-ds" src="img/datenschule_logo_web.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>'The Story Hunt' is a project by <b>Open Knowledge Foundation Germany</b>, Singerstrasse 109,
                        10179 Berlin.</p>
                    <p>Images: <a href="https://wiki.creativecommons.org/wiki/CC0">CC-0</a>. All other content: <a
                            href="https://creativecommons.org/licenses/by/2.0/">CC-BY</a>.</p>
                    <p>Design: <a href="http://twitter.com/bela_okf">Bela Seeger</a>.</p>
                    <p><b><a style="color:black" href="https://okfn.de/impressum/">Legal Notice</a></b>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
