   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="container">
            <div class="container-logo"><a href="http://okfn.de"><img src="/img/okfsolowhiteklein.svg" class="img-responsive"  width="49px"></a></div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <li class="page-scroll">
                <a class="navbar-brand" href="#page-top">{{ site.title }}</a>
                

                    </li>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#thehunt">The Hunt</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#thedata">The Data</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#bootcamp">Bootcamp</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#dataexpedition">Data Expedition</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>