 <!-- About Section -->

    <section class="success" id="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Join us & sign up!</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Sign up now - participation is free, however the number of participants is limited!</h4>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Workshops</h3>
                    <p>
                    The workshops are planned to accommodate up to 10 people. Our aim is to put together a group diverse in background but with a shared first experience in working with data.  
                    </p>
                    <p>Requirement: 
                    Commitment for 5 weekly meetings, starting the 23 May 2017 and participation in the (free) Data Expedition 30 June - 2nd July. You should have affinity for data or interest in EU topics, plus a ton of Enthusiasm! :-)</p>
                    <p>To apply, click the button below and state your motivation including, if you already have one, a first idea of what you would like to investigate using the data on subsidystories.eu</p>
                    <p>Applications run on a first come, first serve basis, so <b>apply now</b>!</p>
                    
                </div>
                <div class="col-lg-4">
                    <h3>The Expedition Weekend</h3>
                    <p>
                    We have room for 25 experts in our data expedition weekend to Wartin Castle. We want to form a mixed group of Journalists, Programmers, Data Scientists, Domain Experts, Advocacy and NGO Officers, Designers etc. So if you recognize yourself as part of the following groups: <b>Storyteller, Scout, Analyst, Engineer, or Designer</b>, please apply and state your motivation and background in a short letter. 
                    </p>
                    <p>Forming mixed teams, the groups will go through the “data-pipeline” together starting by asking the question to presenting the data in the course of 3 days.</p>
                    <p>Together with the teams of Datenschule and OpenBudgets.eu, we will host a data expedition. On this three day workshops, you will work together with 25 experts from the field of journalism, programming, EU, advocacy, and design to work on data, analysis and story-telling.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p style="color:primary">
                    <h2><a href="https://goo.gl/forms/hUD37cQktbZyYcwO2"><b>Apply now!</b></a></p></h2>
                    </p>
                </div>
            </div>
        </div>
    </section>