 <!-- About Section -->

    <section class="success" id="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sign up!</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Workshops</h3>
                    <p>
                    The workshops are planned to accommodate up to 10 people. Our aim is to put together a group diverse in background but with a shared first experience in working with data.  
                    </p>
                    <p>Requirement: 
                    Commitment for 5 weekly meetings, starting the 23 May 2017 and participation in the (free) Data Expedition 30 June - 2nd July. You should have affinity for data or interest in EU topics, plus a ton of Enthusiasm! :-)</p>
                    <p>To apply, send us your CV as well as a short letter stating your motivation including a first idea of what you would like to investigate using the data on subsidystories.eu to
                    anna.alberts@okfn.de and helene.hahn@okfn.de</p>
                    <p>Applications run on a first come, first serve basis, so <b><a style="color:primary" href="mailto:thestoryhunt@okfn.de?subject=Registration Workshop 1-5: Getting Started&body=Dear Story Hunt Team,%0D%0A%0D%0AI would to register for Workshop 1-5.%0D%0AMy Name is: [%20] and my expertise (Designer, Domain Expert, Journalist, etc.) is:[%20]%0D%0A%0D%0ABest, ">apply now for all five workshops</a></b>!</p>
                    
                </div>
                <div class="col-lg-4">
                    <h3>The Weekend-Expedition</h3>
                    <p>
                    We have room for 25 experts in our data expedition weekend to Wartin Castle. We want to form a mixed group of Journalists, Programmers, Data Scientists, Domain Experts, Advocacy and NGO Officers, Designers etc. So if you recognize yourself as part of the following groups: <b>Storyteller, Scout, Analyst, Engineer, or Designer</b>, please apply and state your motivation and background in a short letter. 
                    </p>
                    <p>Forming mixed teams, the groups will go through the “data-pipeline” together starting by asking the question to presenting the data in the course of 3 days.</p>
                    <p>Together with the teams of Datenschule and OpenBudgets.eu, we will host a data expedition. On this three day workshops, you will work together with 25 experts from the field of journalism, programming, EU, advocacy, and design to work on data, analysis and story-telling.</p>
                    <p style="color:primary"><a
                        href="mailto:thestoryhunt@okfn.de?subject=Application Workshop&body=Dear Story Hunt Team,%0D%0A%0D%0AI would to register for the three-day Workshop at the end of June.%0D%0AMy Name is: [%20] and my expertise (Designer, Domain Expert, Journalist, etc.) is:[%20]%0D%0A%0D%0ABest, "><b>Apply now!</b></a></p>
                </div>
            </div>
            </div>
        </div>
    </section>