<section class="section-main" id="staytuned">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Thank you for your interest.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4></h4>
                <hr class="star-secondary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <p>
                For the first edition, 'The Story Hunt: Uncover the EU', signups are now closed. If you want to stay updated on the results and possible future editions of The Story Hunt, <b>sign up</b> below.</p> 
                <p>In the meantime, feel free to check out the <a href="https://github.com/okfde/storyhunt-workshops">materials</a> created for the workshops!
                </p>
                <hr class="star-secondary">
            </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p style="color:primary">
                <h2><a href="https://goo.gl/forms/sPqHSb9RDruIB2BN2"><b>Stay Tuned!</b></a></p></h2>
                </p>
            </div>
        </div>
    </div>
</section>