<head>
    <section class="success2" id="data">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 text-center">
                    <h2>The Data</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The EU and its money flows are notoriously complex and intransparent. In an effort to change this, the team behind <a href="http://subsidystories.eu">SubsidyStories.eu</a> has gathered, cleaned, and concatenated data on the EU’s most important financial instrument: the European Structural Investment Funds (ESIF).</p> 
                    <p>Together with representatives of different disciplines (journalists, non-profit organizations, developers, domain experts, and designers) we want to immerse ourselves in the data, hunting for stories.
                    </p>
                    
                </div>
                <div class="col-lg-4">
                    <div>
                    <p>
                    While there are many existing transparency portals and data sources on the EU’s finances, the actual, local recipients of the ESIFunds have thus far been enshrouded in a cloud of inaccessibility. Published in a plethora of formats and standards, collecting them has been a real challenge.</p>
                     <!--You can view <a href="http://openbudgets.eu/assets/resources/Report-OpenBudgets-ESIF%20Data-Quality-Index.pdf"> a report on the data here</a>.-->
                    <p>
                    Now though, the data is available and is ready to be worked on. What are we hoping to find when ‘hunting stories’ in the data? Read on to learn more.</p>

                    <!--
                    <p>
                    <i>The quality (and thus the level of transparency) of the data varies greatly across the EU member states:</i>    
                    </p>
                    </div>
                    <p>    
                    <img src="/img/data-ranking.png" class="responsive" width=380em/>
                    </p><p class="small">(Image taken from the <a href="http://openbudgets.eu/assets/resources/Report-OpenBudgets-ESIF%20Data-Quality-Index.pdf">ESIF data quality report</a>.) 
                    </p>-->
                </div>
            </div>
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="http://openbudgets.eu/assets/resources/Report-OpenBudgets-ESIF%20Data-Quality-Index.pdf"
                   class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> ESIF Data Quality Report
                </a>-->
            </div>
        </div>
    </section>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Using the skills developed in the Bootcamp, a massive database containing information on more than <b>250 bn Euro</b> spent via the EU's primary investment tool, the European Structure and Investment Funds (ESIF), will be tackled in the Data Expedition. Train in the Bootcamp, and join the Story Hunt!-->
</head>
