<section class="section-main" id="data">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <h2>The Data</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>The EU and its money flows are notoriously complex and intransparent. In an effort to change this,
                    the team behind <a href="http://subsidystories.eu">SubsidyStories.eu</a> has gathered, cleaned, and
                    concatenated data on the EU’s most important financial instrument: the European Structural
                    Investment Funds (ESIF).</p>
                <p>Together with representatives of different disciplines (journalists, non-profit organizations,
                    developers, domain experts, and designers) we want to immerse ourselves in the data, hunting for
                    stories.
                </p>
                <p>
                    While there are many existing transparency portals and data sources on the EU’s finances, the
                    actual, local recipients of the ESIFunds have thus far often been difficult to access since they
                    were published regionally. Now though, the data is available in one dataset telling you where the
                    money goes. If you already want to look at the data, check out the following links:</p>
                <p>•
                    <a href="https://github.com/os-data/eu-structural-funds/raw/master/documentation/subsidyreport%20-%20methodology.pdf">Detailed
                        documentation</a></p>
                <p>•
                    <a href="https://github.com/os-data/eu-structural-funds/raw/master/documentation/subsidyreport%20-%20policy%20and%20data.pdf">Policy
                        and data background</a></p>
                <p>•
                    <a href="https://github.com/os-data/eu-structural-funds/raw/master/documentation/subsidyreport%20-%20dataset%20descriptions.pdf ">Data
                        Description</a></p>
                <p>You can view <a
                        href="http://openbudgets.eu/assets/resources/Report-OpenBudgets-ESIF%20Data-Quality-Index.pdf">
                    a report on the data quality here</a>.</p>
                <p>•
                    <a href="https://next.openspending.org/viewer/6018ab87076187018fc29c94a68a3cd2:eu-esif-funds-beneficiaries-2000-2020-full?lang=en">The
                        data on OpenSpending</a></p>
                <p>•
                    <a href="http://datastore.openspending.org/6018ab87076187018fc29c94a68a3cd2/eu-esif-funds-beneficiaries-2000-2020-full/data/eu-esif-funds-beneficiaries-2007-2020-full.csv">The
                        dataset in one .csv file (879MB)</a></p>

            </div>
            <div class="col-lg-4">
                <p>
                    <i>The quality (and thus the level of transparency) of the data varies greatly across the EU
                        member states:</i>
                </p>
                <p class="text-center">
                    <img src="/img/data-ranking.png" class="imgbig img-centered">
                </p>
                <p class="small">(Image taken from the <a
                        href="http://openbudgets.eu/assets/resources/Report-OpenBudgets-ESIF%20Data-Quality-Index.pdf">ESIF
                    data quality report</a>.)
                </p>
            </div>
        </div>
        <!--<div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="http://openbudgets.eu/assets/resources/Report-OpenBudgets-ESIF%20Data-Quality-Index.pdf"
               class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> ESIF Data Quality Report
            </a>-->
    </div>
</section>

