<!-- About Section -->

<section id="thehunt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>The Hunt</h2>
                <hr class="star-light">
            </div>
        </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    The Story Hunt Data Expedition is a weekend-long workshop that will bring together the previously trained participants with experts from the field of programming, data analysis and design and take place in a forgotten castle outside of Berlin. A data expedition is a combination of group work, training, and mutual learning that teaches the whole investigative data pipeline process from asking questions to the dataset, hypothesising and analysing it and turning the results into stories, presentations and visualisations. 
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>It equips the participants with the skills they need to work on a data-driven story, and allows us to produce concrete results in one weekend. </p>
                    <p>Forming mixed teams, the groups will go through the “data-pipeline” together starting by asking the question to presenting the data in the course of 3 days.</p>       
                </div>
            </div>
        </div>
    </div>
</section>