<!-- About Section -->

<section class="success3" id="workshop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>The Workshop</h2>
                <hr class="star-light">
            </div>
        </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    The Story Hunt Data Expedition is a weekend-long workshop that will bring together the previously trained participants with experts from the field of programming, data analysis and design and take place in a forgotten castle outside of Berlin.</p>
                    <p>The Story Hunt will be a combination of group work, training, and mutual learning that teaches the whole investigative data pipeline process from asking questions to the dataset, hypothesising, cleaning and analysing it and turning the results into stories, presentations and visualisations. 
                    </p>
                    <p>It fosters teamwork and collaboration in all the necessary fields for working on a data-driven story, and allows us to produce concrete output in one weekend.</p>
                </div>
                <div class="col-lg-4">
                    
                                    <h3>Agenda:</h3>
                <h4>Friday 30 June</h4>
                    <p>15:00 - 17:00 Travel Berlin - Wartin</p>
                    <p>17:00 - 19:00 Introduction Lecture</p> 
                    <p>20:30 - 22:00 Forming Teams</p>
                <h4>Saturday 1 July</h4>
                    <p>9:00 - 12:00 Formulating a question / Finding Data and Leads</p>
                    <p>13:00 - 19:00 Cleaning and Analysing Data</p>
                <h4>Sunday 2 July</h4>
                    <p>12:00 - 13:30 Story Telling and Visualisation 
                    Group Presentation and Wrap up</p>
                    <p>13:30 - 16:00 Lunch and travel back to Berlin</p>
                    <p>19:00 - Optional Presentation Berlin</p>
                    <p><b>All costs for the weekend and travel within Europe (up to 250 E) are covered upon acceptance and participation in the expedition</b></p> 
                </div>       
                </div>
            </div>
        </div>
    </div>
</section>