<head>
    <section class="success" id="none">
        <div class="container">
            <div class="row">
            <div class="col-lg-12 text-center">
                    <h2>Timeline</h2>
                    <hr class="star-light">
                </div>
                <div class="col-lg-7 text-center">
                    <p style="color:primary">
                <p> <img class="imgbig" src="img/viz.png"></p>
                    </p>
                </div>
            </div>

            </div>
        </div>
    </section>
</head>
