<!-- Portfolio Grid Section -->
<section class="success3" id="workshops">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>The Workshops</h2>
                <hr class="star-light">
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <p>
                    <!--The Bootcamp is a series of tutorials happening prior to the weekend-long story hunt. Depending on your skill level, it is highly recommended that you participate in order to develop the basic skillset needed to work on the data we are working with.-->
                   Learn essential data-skills such as <b>finding, scraping, cleaning, analysing,</b> and <b>visualising</b> data and apply you newly-developed skills in the Story Hunt!</p>

                   <!--The Story Hunt Training sessions are the preparation series for participating in our weekend workshop. If you are based in Berlin and an early-career data journalists, EU policy analyst, or NGO or advocacy officer, we invite you to sign up for our 5 training sessions in May and June, where you learn the basics of data-gathering, cleaning and analysis in the realm of EU policy.-->
                </p>
            </div>
            <div class="col-lg-4">
                <p>We offer 5 weekly workshops, each 2 hours, starting on 16 May 2017.</p>
                <!--We offer 5 weekly 2 hour training sessions teaching essential data skills: the basics of data-journalism, obtaining and cleaning data, as well as analysing and visualising it. The trainings will take place at the Open Knowledge Foundation Germany’s offices (Singerstraße 109, 10179 Berlin).</p>-->
                <!--<p>The trainings offered cover the basic skills of <b>finding, scraping, analysing,</b> and <b>visualising</b>
                    data. The Bootcamp will take place in the offices of OKF DE (Singerstrasse 109, 10179 Berlin).</p>
                <p>Join the bootcamp and become a full-fledged hunch-hunter!</p>-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h3>1. Getting Started</h3>
                <h4>16 May 2017</h4>
                <p>The first meeting will be an introduction in the coming weeks topics. We will present inspiring data
                    journalism stories and give an introduction of large data projects at OKFDE such as
                    subsidystories.eu and JedeSchule.de.</p>
                    <p>Speaker: <b style="color:#F62459">Anna Alberts, Helene Hahn</b></p>

            </div>
            <div class="col-lg-4">
                <h3>2. Finding and Getting the Data</h3>
                <h4>23 May 2017</h4>
                <p>In this workshop we will start with the basics of data. We put questions to datasets and discuss
                    effective ways to find data, how to get to know your data and spreadsheet tips and tricks.</p>

                <p>Speaker: <b style="color:#F62459">Anna Alberts, Helene Hahn</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h3>3. Scraping & Cleaning Data</h3>
                <h4>30 May 2017</h4>
                <p>In this workshop we explain the basics of scraping and show you meaningful ways and tools to obtain
                    data from the web. In most cases, datasets are messy and need to be cleaned in some ways. Tools such as OpenRefine and
                    Excel provide great ways to produce clean data.</p>
                <p>Speaker: <b style="color:#F62459">Moritz Neujeffski, Michael Peters, Knut Perseke</b></p>
            </div>
            <div class="col-lg-4">
                <h3>4. Analytics: Basic Intro into Statistics & Spreadsheets</h3>
                <h4>13 June 2017</h4>
                <p>Statistics have a bad reputation of being hard, and manipulative. In this workshop we will show why
                    you should use statistics and how you can use basic statistics to validate your data, understand it
                    and run basic functions for first analysis.</p>
                <p>Speaker: <b style="color:#F62459">Michael Peters, Knut Perseke</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h3>5. Visualising Data</h3>
                <h4>20 June 2017</h4>
                <p>Data comes to life in visualisations. In this workshop we will discuss ground rules of design and
                    data visualisations. We will work on telling a story with data.</p>
                <p>Speaker: <b style="color:#F62459">Lisa Rost</b></p>
            </div>
            </div>
        </div>
    </div>
</section>