<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include parallax-2.html %}
    {% include intro.html %}
    {% include parallax-2.html %}
    {% include challenge.html %}
    {% include parallax.html %}
    {% include thedata.html %}
    {% include parallax.html %}
    {% include workshops.html %}
    {% include parallax-4.html %}
    {% include expedition.html %}
    {% include parallax-1.html %}
    {% include timeline.html %}
    {% include parallax-1.html %}
    {% include signup.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>