<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
        {% include nav.html %}

        <div class="row parallax-row">
            <div class="col-lg-12">
                <div class="parallax parallax-forest-light"></div>
            </div>
        </div>
        {% include staytuned.html %}
        <div class="row parallax-row">
            <div class="col-lg-12">
                <div class="parallax parallax-forest-light"></div>
            </div>
        </div>
        {% include intro.html %}

        <div class="row parallax-row">
            <div class="col-lg-12">
                <div class="parallax parallax-forest-light"></div>
            </div>
        </div>
        {% include challenge.html %}

        <div class="row parallax-row">
            <div class="col-lg-12">
                <div class="parallax parallax-mushroom"></div>
            </div>
        </div>
        {% include thedata.html %}

        <div class="row parallax-row">
            <div class="col-lg-12">
                <div class="parallax parallax-mushroom"></div>
            </div>
        </div>
        {% include workshops.html %}

        <div class="row parallax-row">
            <div class="col-lg-12">
                <div class="parallax parallax-hands"></div>
            </div>
        </div>
        {% include expedition.html %}

        <div class="row parallax-row">
            <div class="col-lg-12">
                <div class="parallax parallax-forest-dark"></div>
            </div>
        </div>
        {% include timeline.html %}

        <div class="row parallax-row">
            <div class="col-lg-12">
                <div class="parallax parallax-forest-dark"></div>
            </div>
        </div>
        <!--{% include signup.html %}-->

        {% include footer.html %}

        {% include js.html %}
    </body>
</html>